<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container"><%= link_to "sample app", "#", id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("defaults.languages.english"), locale: "en" %></li>
        <li><%= link_to t("defaults.languages.vietnamese"), locale: "vi" %></li>
        <li><%= link_to t("defaults.home"), "#" %></li>
        <li><%= link_to t("defaults.help"), "#" %></li>
        <li><%= link_to t("defaults.log_in"), "#" %></li>
      </ul>
    </nav>
  </div>
</header>
